
@font-face {
    font-family: 'antipasto';
    src: url('antipasto-pro-regular-trial-webfont.woff2') format('woff2'),
         url('antipasto-pro-regular-trial-webfont.woff') format('woff'),
         url('antipasto-pro-regular-trial-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
:root{
    --fond-gris:rgb(135, 131, 131);
    --texte-noir:rgb(17, 17, 17);
    --texte-blanc:rgb(235, 232, 232);
}

#bandeau p{
    
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}